<% if @disease.disease_treatments.present? %>
<table class="table table-hover">
  <tr>
    <th> Treatments </th>
  </tr>
  <% @disease.disease_treatments.each do |treatment| %>
    <tr>
      <td><p>Medicine: <%=treatment.medicine %><br />
        Food-intake:<%=treatment.food %><br />
        Activities: <%=treatment.activities %></p>
      <% if doctor_signed_in? %>
         <%= link_to 'edit', edit_treatment_path(treatment.disease, treatment), class: "btn btn-default btn-sm" %> 
       <%= link_to "delete", destroy_treatment_path(treatment.disease, treatment) , method: :delete, 
        data: { confirm: "You sure?" }, class: "btn btn-danger" %>
    <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
  <% if doctor_signed_in? %>
    <p><i>You need to add some treatments doc!! <i></p>
  <% else %>
    <p><i> Sorry! There are no treatments available for this disease yet. THey will soon be added by our doctors.Thank you!! </i></p>
  <% end %>
<% end %>
<% if doctor_signed_in? %>
  <%= link_to "Create Treatment", new_treatment_path(:disease_id => @disease.id), class: "btn btn-default" %><br /><br /><br />
<% end %>

